button.button {
    width: 10rem;
    height: 4rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2rem;
    cursor: pointer;
    background-image: linear-gradient(to left, #82B582 0%, #445F44 40%, #415B41 50%, #415B41 51%, #445F44 60%, #82B582 100%);
    padding: 1rem 3rem;
    display: block;
    background-size: 200% auto;
    transition: 0.5s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

    &:hover {
        background-position: right center;
    }
}

button.primary {
    color: #FFFFFF;
}

button.small {
    font-size: 1rem;
}

button.medium {
    width: 15rem;
    font-size: 1.5rem;
}

button.large {
    width: 20rem;
    font-size: 2rem;
}